################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemSolver/.vs/ProblemSolver
/ProblemSolver/ProblemSolver/bin/Debug/net5.0
/ProblemSolver/ProblemSolver/obj
*.user
